body {
  margin: 0;
  padding: 5px;
  font-family: Calibri,serif;
}
.caption{
  font-weight: bold;
}
.captionDisabled{
  font-weight: bold;
  color: darkgray;
}
.textDisabled{
  color: darkgray;
}
.panelRubric{
  font-size: larger;
  font-style: italic;
  margin-bottom: 5px;
}
div.panel{
  margin-bottom: 15px;
}
