body {
  margin: 0;
  padding: 5px;
  font-family: Calibri,serif;
}
.caption{
  font-weight: bold;
}
.captionDisabled{
  font-weight: bold;
  color: darkgray;
}
.textDisabled{
  color: darkgray;
}
div.group{
  margin-top: 15px;
  margin-bottom: 15px;
}
