body {
  margin: 0;
  padding: 5px;
  font-family: Calibri,serif;
}
span.caption{
  font-weight: bold;
  /*font-style: italic;*/
}
span.captionDisabled{
  font-weight: bold;
  color: darkgray;
  /*font-style: italic;*/
}
div.spaced{
  margin-top: 10px;
  margin-bottom: 10px;
}
